root = "."
tmp_dir = "tmp"

[build]
cmd = "go build -o ./tmp/argus.exe ./cmd/server"
bin = "./tmp/argus.exe"
include_ext = ["go", "tpl", "tmpl", "html"]
exclude_dir = ["assets", "tmp", "vendor", "testdata", "web", "test"]
include_dir = []
exclude_file = []
delay = 1000 # ms
stop_on_error = true
log = "air.log"

[log]
time = true

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true
